* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", serif;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
.nav-mobile {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(30, 64, 175, 0.85);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(-100%);
  transition: all 0.25s ease;
}
.nav-mobile.active {
  transform: translateX(0%);
}
.nav-mobile li {
  padding: 10px;
  margin: 30px 0px;
  text-align: center;
  font-size: 30px;
  list-style: none;
  cursor: pointer;
}
.nav-mobile li a {
  text-decoration: none;
  color: #fff;
}

header {
  position: absolute;
  width: 100%;
  height: 80px;
  background-color: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
}

header .header-menu {
  position: fixed;
  left: 20px;
  top: 16px;
  background-color: #fde047;
  padding: 10px 14px;
  width: 52px;
  border-radius: 6px;
  cursor: pointer;
}
header i {
  color: #fde047;
  font-size: 32px;
  margin: 0px 3px;
  transition: all 0.2s ease;
}
header i:hover {
  transform: translateY(-5px);
}

.main-container img {
  width: 45px;
}
.main-container {
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(
    circle,
    #1e40af,
    #1a3a9e,
    #17338d,
    #142d7d,
    #11276d
  );
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main-container .main-image-title {
  width: 45%;
  max-width: 280px;
}
.main-text {
  margin-top: 25px;
}
.main-text h1 {
  font-size: 50px;
  font-weight: 800;
  color: #fde047;
}
.main-text p {
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  margin-top: -8px;
}
.main-container .icon-down {
  margin-top: 30px;
  padding: 8px 18px;
  border-radius: 8px;
  width: 65px;
  background-color: #fde047;
  cursor: pointer;
}

.vh {
  height: 100vh;
  background-color: #adf4a7;
}
.vh:nth-child(even) {
  background-color: #af34bb;
}

.club-container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.section-title {
  display: inline-block;
  font-size: 24px;
  margin-top: 50px;
  color: #fde047;
  background-color: #1e40af;
  padding: 8px 18px;
  border-radius: 6px;
}
.club-description {
  width: 90%;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.club-description .club-item-description {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #1e40af;
}
.club-description .club-item-description:nth-child(even)::marker {
  color: #fde047;
  font-size: 20px;
}
.club-description .club-item-description:nth-child(odd)::marker {
  font-size: 20px;
}
